body{
    position: relative;
    display: grid;
    margin: 0px;
    font-family: arial, sans-serif;

    background-color: #ccc;
}

header{
    background-image: url('imagens/bg-3.jpg');
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 650px;
}

header ul{
    text-align: right;
    margin-right: 15px;
}

header ul li{
    display: inline-block;
    border: 3px;
    border-color: white;
    border-style: groove;
    list-style-type: none;
    margin-right: 8px;
    margin-top: 5px;
    padding: 15px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

header ul li:hover{
    background-color: rgb(0, 0, 0, 0.5 );
    text-shadow: 1px 1px black;
    cursor: pointer;
}

header h1{
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 70px;
    margin-top: 160px; 
}

header p{
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 36%;
    margin-right: 36%;
    padding: 12px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: white;
    border-style: groove;
    height: auto;
    
}

main{
    width: 80%;
    margin: auto;
}

main section{
    background-color: white;
    padding: 10px;
    margin-top: 15px;
    overflow: auto;

}

.card{
    float: left;
    width: 32%;
    box-sizing: border-box;
    margin-left: 1%;
}

.card figure{
    width: 100%;
    margin: 0px;
    
}

.card figure img{
    display: block;
    width: 100%;
}

.card figure figcaption{
    display: block;
    text-align: left;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: rgb(63, 62, 62);
    margin: 0px;
    padding: 10px;
}

main section article h2{
    text-align: left;
    border-top: 0px;
    border-bottom: 1px solid rgb(105, 105, 105);;
    border-left: 0px;
    border-right: 0px;
    background-color: rgb(192, 192, 192);
    padding: 10px 5px 10px 5px;
    margin-top: 0px;
}

footer p{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background-color: #6b6c68;
    line-height: 80px;
    margin-bottom: 0px;
}



